/* Added v2.0 */
#modalWindow .modal-body
{
	padding:1em;
}
#modalWindow .modal-body.modal-frame
{
	padding:0;
}
#modalWindow .modal-body>iframe
{
	border: none;
	width: 100%;
	min-height: 250px;
}

#modalWindow .modal-foot
{
	border-top: 1px solid #bbb;
	min-height: 3em;
}
#modalWindow .modal-foot>button
{
	position: absolute;
	margin-top: 5px;
	right: 5%;
}